*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(61, 14, 105);
}
#main{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#main h3{
    color: white;
    font-size: 35px;
    margin: 40px 0px;
}
#main form{
    /* background-color: rgba(137, 43, 226, 0.293); */
    height: 30%;
    width: 30%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}
#textField{
    width: 70%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0.241);
    border: none;
    border-top-left-radius: 15px;  
    border-bottom-left-radius: 15px;

}
::placeholder{
    font-size: 18px;
    text-align: center;
    color: white;
}
#click{
   width: 30%;
   height: 100%;
   background-color: orangered;
   color: white;
   font-size: 18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
   border: none;
}